$primary: #46306d; //Changing the primary colour using bootsrap and sass
$btn-border-radius:25px;
$btn-padding-y: 5px;
$btn-padding-x: 25px;


/* The following line can be included in a src/App.scss */
@import '~bootstrap/scss/bootstrap';

.container{
  
}

.card {
    height: 100%; /* Set the desired fixed height for the cards */
    width: 100%;
  }

.text{
  color: #46306d;
}

.card-image {
  width: 100%; /* Set the desired width */
  height: 600px; /* Set the desired height */
  object-fit: cover; /* This property ensures the image covers the specified dimensions */
}

body {
    background-color: black;
  }

  // CardHover.scss

  .card {
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s ease; /* Add transitions for transform, box-shadow, and background-color */
  }
  
  .card:hover {
    transform: translateY(-10px); /* Adjust the value to control the "pop" effect */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Add a subtle box-shadow on hover */
    background-color: #8b8989; /* Change the background color to a noticeable color on hover */
    
  }

  a {
    text-decoration: none; /* Remove underlines from links */
  }

