


/* Basic button styles */
.cart-button {
    padding: 10px 20px;
    background-color: #464747; /* Your button's background color */
    color: white;
    border: none;
    border-radius: 5px;
    transition: transform 0.2s ease; /* Add a smooth transition for the transformation */
  }
  
  /* Apply a scale transformation on hover */
  .cart-button:hover {
    transform: scale(1.1); /* Scale up the button by 10% on hover */
  }

  .card {
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s ease; /* Add transitions for transform, box-shadow, and background-color */
  }
  
  .card:hover {
    transform: translateY(-10px); /* Adjust the value to control the "pop" effect */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Add a subtle box-shadow on hover */
    background-color: #8b8989; /* Change the background color to a noticeable color on hover */
    
  }

  .removeButton{
    margin-left: 1vw;
    color: #000000;
    background-color: #14e1f0;
  }


